<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5"/>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>

  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <appSettings>
    <add key="strConexionSauron" value="Data Source=192.168.0.54;Initial Catalog=Sauron;User ID=sa;Password=D1sl1c0r3s;"/>
    <add key="strConexionGeorreferenciacion" value="Data Source=192.168.0.54;Initial Catalog=Georreferenciacion;User ID=sa;Password=D1sl1c0r3s;"/>
    <add key="strConexionWMS" value="Data Source=192.168.0.54;Initial Catalog=WMS_Medellin;User ID=sa;Password=D1sl1c0r3s;"/>
    <add key="strConexionINTSCE" value="Data Source=192.168.0.211;Initial Catalog=INTSCE;User ID=sa;Password=Sa123456;"/>
    <add key="strConexionSCPRD" value="Data Source=192.168.0.211;Initial Catalog=SCPRD;User ID=sa;Password=Sa123456;"/>
    <add key="strOracleGT" value="DSN=SIESAPOB;Uid=GT;Pwd=D1sl1c0r3s;"/>

    <add key="ConexionUNOEE" value="WSREAL"/>
    <add key="UsuarioUNOEE" value="wms.integracion"/>
    <add key="ClaveUNOEE" value="Wms2020"/>
  
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="Puerto" value="587"/>
    <add key="Ssl" value="true"/>
    <add key="CorreoRemitente" value="gtintegration4@gmail.com"/>
    <add key="Usuario" value="gtintegration4"/>
    <add key="Clave" value="interfaces4217"/>
    <add key="CorreoDestinatario" value="scarvajal@generictransfer.com"/>
    <remove key="SassAndCoffee.Cache"/>
    <add key="WSUNOEE.WSUNOEE" value="http://172.16.100.24:8081/WMS_WSUNOEE_EUCLIDES/WSUNOEE.asmx"/>
    <add key="WSGT.wsGenerarPlano" value="http://192.168.0.54:8082/ServiciosWeb/wsGenerarPlano.asmx"/>
  </appSettings>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

</configuration>
