<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Upload_Entradas_TCE_Desde_TCO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Upload_Entradas_TCE_Desde_TCO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Upload_Entradas_TCE_Desde_TCO.My.MySettings>
            <setting name="EnviarDatosUNOEE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tiempoEsperaPaquete" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="strConexionSiesa" serializeAs="String">
                <value>WSREAL</value>
            </setting>
            <setting name="strUsuarioSiesa" serializeAs="String">
                <value>wms.integracion</value>
            </setting>
            <setting name="strClaveSiesa" serializeAs="String">
                <value>Wms2020</value>
            </setting>
            <setting name="strConexionSQL" serializeAs="String">
                <value>Data Source=192.168.0.54;Initial Catalog=WMS;User ID=sa;Password=D1sl1c0r3s;Integrated Security=False</value>
            </setting>
            <setting name="numeroPaquetesCorte" serializeAs="String">
                <value>6</value>
            </setting>
        </Upload_Entradas_TCE_Desde_TCO.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Upload_Entradas_TCE_Desde_TCO.My.MySettings>
            <setting name="Upload_Entradas_TCE_Desde_TCO_WSGT_wsGenerarPlano"
                serializeAs="String">
                <value>http://192.168.0.54:8082/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
            <setting name="Upload_Entradas_TCE_Desde_TCO_WSUNOEE_WSUNOEE"
                serializeAs="String">
                <value>http://172.16.100.24:8081/WMS_WSUNOEE_EUCLIDES/WSUNOEE.asmx</value>
            </setting>
        </Upload_Entradas_TCE_Desde_TCO.My.MySettings>
    </applicationSettings>
</configuration>