@page "/Commercial_Effectiveness/Clientes_x_Actualizar_Vendedor"
@inject IJSRuntime JSRuntime

@if (bitVisualizarDisplay)
{
    <DivCargando />
}


<h3>Clientes_x_Actualizar_Vendedor</h3>

<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@ListadoResultados" TItem="Clientes_Actualizar_Crit_Vendedor_Model" ColumnWidth="200px"
            PageSize="38" AllowPaging="true" AllowSorting="true"
            Style="width:1200px">
    <Columns>

        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="f200_id" Title="id" Width="30%" />
        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="F200_NIT" Title="Nit" Width="30%" />
        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="F200_RAZON_SOCIAL" Title="Razon Social" Width="50%" />
        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="F201_ID_SUCURSAL" Title="id Suc" Width="20%" />
        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="F201_DESCRIPCION_SUCURSAL" Title="Sucursal" Width="50%" />
        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="idVendedor" Title="idVendedor" Width="30%" />
        <RadzenGridColumn TItem="Clientes_Actualizar_Crit_Vendedor_Model" Property="criterio_VEN" Title="criterio_VEN" Width="30%" />

    </Columns>
</RadzenGrid>

@code {

    bool bitVisualizarDisplay = false;
    List<Clientes_Actualizar_Crit_Vendedor_Model> ListadoResultados; 
    RespuestaJson respuestaJson = new RespuestaJson();

    protected override async Task OnInitializedAsync()
    {
        await consultarInicial();
    }


    public async Task consultarInicial()
    {

        ActualizacionUN_Bl actualizacionUN_BI = new ActualizacionUN_Bl();
        bitVisualizarDisplay = true;

        try
        {
            respuestaJson = actualizacionUN_BI.consultar_Clientes_x_Actualizar_Vendedor();

            if (respuestaJson.bitError == false)
            {
                ListadoResultados = (List<Clientes_Actualizar_Crit_Vendedor_Model>)respuestaJson.datos;
            }

        }
        catch (Exception ex)
        {
            respuestaJson.bitError = true;
            respuestaJson.resultado = ex.Message;
        }


        bitVisualizarDisplay = false;
        StateHasChanged();
        if (respuestaJson.bitError == false)
        {
            //await JSRuntime.MensajeProcesoOK();
        }
        else
        {
            await JSRuntime.MensajeProcesoError(respuestaJson.resultado);
        }

    }

}
