@page "/Index"

<PageTitle>Sauron</PageTitle>

<h1>Monitor de Integraciones</h1>

Sistema de moniteoreo para proceso de integracion en Dislicores

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
