@inject IJSRuntime JSRuntime

<div style="width:300px;float:left">
    <MatThemeProvider>
        <MatButton Href="/ButtonLink" Raised="true" @onclick="async () => await descargarPlantillaUN()">Descargar Plantilla UN</MatButton>
    </MatThemeProvider>
</div>

@code {

    bool bitVisualizarDisplay = false;


    protected async Task descargarPlantillaUN()
    {

        bitVisualizarDisplay = true;

        try
        {
            string strNombreArchivoCliente = $"PlantillaUN_{DateTime.Now.ToString("yyyyMMddmmssff")}";
            await JSRuntime.InvokeAsync<object>("descargarArchivo", strNombreArchivoCliente, $"Excel\\PlantilaUN.xlsx");
            bitVisualizarDisplay = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            bitVisualizarDisplay = false;
            StateHasChanged();
            JSRuntime.MensajeProcesoError(ex.Message);
        }
    }


}
