@inject ProtectedSessionStorage sessionStorage

<div style="width:100%;background-color:darkgray; height:50px;padding-left:10px">
    <nav id="menu">
        <ul>
            <li style="width:80px"><a href="#" style="color:black;">Home</a></li>

            @if (usuario == "admin")
            {
                <li style="width:150px;">
                    <a style="color:black;" href="Index">Administracion</a>
                    <ul class="dropdown">
                        <li style="width:150px;"><a style="color:black;" href="/administracion/usuarios" class="nav-link">Usuarios</a></li>
                    </ul>
                </li>
            }

            @if ((usuario == "admin") || (usuario == "ce"))
            {
                <li style="width:250px;">
                    <a href="#" style="color:black;">Comercial Effectiveness</a>
                    <ul>
                        <li style="width:250px;"><a style="color:black;" href="Commercial_Effectiveness/InfoSitiData">Clientes Georreferenciados</a></li>
                        <li style="width:250px;"><a style="color:black;" href="EC_ActualizacionUN">Relanzar Clientes</a></li>
                        <li style="width:250px;"><a style="color:black;" href="Commercial_Effectiveness/ActualizacionUN">Actualizacion UN</a></li>
                    </ul>
                </li>
            }


            @if ((usuario == "admin") || (usuario == "wms"))
            {

                <li style="width:250px;">
                    <a style="color:black;" href="#">Modificaciones  OC</a>
                    <ul class="dropdown">
                        <li style="width:250px;"><a style="color:black;" href="InfoSitiData">Modificar OC Pedidos</a></li>
                        <li style="width:250px;"><a style="color:black;" href="#pricing-section">Modificar OC Requisiciones</a></li>
                        <li style="width:250px;"><a style="color:black;" href="ActualizacionUN">Actualizacion UN</a></li>
                    </ul>
                </li>

                <li style="width:250px;">
                    <a style="color:black;" href="#">Download WMS</a>
                    <ul class="dropdown">
                        <li style="width:250px;"><a style="color:black;" href="InfoSitiData" class="nav-link">Download Pedidos PEE</a></li>
                        <li style="width:250px;"><a style="color:black;" href="#pricing-section">Download Requisiciones RQI</a></li>
                        <li style="width:250px;"><a style="color:black;" href="ActualizacionUN">Procesos ION</a></li>
                        <li style="width:250px;"><a style="color:black;" href="ActualizacionUN">Log ASN</a></li>
                        <li style="width:250px;"><a style="color:black;" href="ActualizacionUN">Log OEX</a></li>
                    </ul>
                </li>

                <li style="width:150px;">
                    <a style="color:black;" href="#">Upload WMS</a>
                    <ul class="dropdown">
                        <li style="width:150px;"><a style="color:black;" href="InfoSitiData" class="nav-link">Translados</a></li>
                        <li style="width:150px;"><a style="color:black;" href="#pricing-section">Averias</a></li>
                    </ul>
                </li>
            }

        </ul>
    </nav>
</div>


@code {

    string usuario = "";

    protected override async void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            //await sessionStorage.SetAsync("algo", strvariable);
            var resultado = await sessionStorage.GetAsync<string>("usuario");
            usuario = resultado.Value.ToString();
        }

        StateHasChanged();

    }

}